<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Name>ASDST
    </Name>
    <AddInID>{890daef9-af62-4020-badf-a72af1268a61}
    </AddInID>
    <Description>Aboriginal Site Decision Support Tools
    </Description>
    <Version>0.11
    </Version><Image />
    <Author>D.Bye, KST, NSW OEH
    </Author>
    <Company>NSW OEH
    </Company>
    <Date>2017-03-15 16:44
    </Date>
    <Targets>
        <Target name="Desktop" version="10.1" />
    </Targets>
    <AddIn language="PYTHON" library="asdst_addin.py" namespace="asdst_addin">
        <ArcMap>
            <Commands>
                <!--<Button caption="Create New ASDST Project"-->
                        <!--category="ASDST"-->
                        <!--class="CreateProjectButton"-->
                        <!--id="asdst_addin.cmd_create_project"-->
                        <!--image="Images/AddInDesktop16.png"-->
                        <!--message="Create an empty ASDST project:the first step in an ASDST analysis workflow"-->
                        <!--tip="Create Project">-->
                    <!--<Help heading="ASDST help ?">ASDST help to do-->
                    <!--</Help>-->
                <!--</Button>-->
                <!--<Button caption="Stream Order"-->
                        <!--category="ASDST"-->
                        <!--class="StreamOrderButton"-->
                        <!--id="asdst_addin.cmd_stream_order"-->
                        <!--image="Images/LasSlope16.png"-->
                        <!--message="Calculate Stream Order Data"-->
                        <!--tip="Stream Order">-->
                    <!--<Help heading="ASDST help ?">ASDST help to do-->
                    <!--</Help>-->
                <!--</Button>-->
                <!--<Button caption="Context Calculation"-->
                        <!--category="ASDST"-->
                        <!--class="CalculateContextButton"-->
                        <!--id="asdst_addin.cmd_calculate_context"-->
                        <!--image="Images/LocationGetPolygon16.png"-->
                        <!--message="Make a context calculation"-->
                        <!--tip="Make a context calculation">-->
                    <!--<Help-->
                        <!--heading="ASDST help ?">ASDST help to do-->
                    <!--</Help>-->
                <!--</Button>-->
                <Button caption="Configure"
                        category="ASDST"
                        class="ConfigureButton"
                        id="asdst_addin.cmd_configure"
                        image="Images/GenericWrench_B16.png"
                        message="Configure"
                        tip="Check/set toolbox configuration">
                    <Help heading="ASDST help ?">ASDST help to do
                    </Help>
                </Button>
                <Button caption="ASDST"
                        category="ASDST"
                        class="asdst_addin.InfoButton"
                        id="asdst_addin.cmd_info"
                        image=""
                        message="Display ASDST status"
                        tip="Reflects the current ASDST configuration and project status">
                    <Help heading="ASDST help ?">ASDST help to do
                    </Help>
                </Button>
            </Commands>
            <Extensions>
                <Extension autoLoad="True" category="ASDST" class="AsdstExtension"
                           description="Aboriginal Sites Decision Support Tool" id="asdst_addin.extension"
                           name="ASDST" productName="ASDST" showInExtensionDialog="True" />
            </Extensions>
            <Toolbars>
                <Toolbar caption="ASDST" category="ASDST"
                         id="asdst_addin.toolbar"  showInitially="true">
                    <Items>
                        <Button refID="asdst_addin.cmd_info" />
                        <Button refID="asdst_addin.cmd_configure" />
                        <!--<Button refID="asdst_addin.cmd_create_project" />-->
                        <!--<Button refID="asdst_addin.cmd_calculate_context" />-->
                        <!--<Button refID="asdst_addin.cmd_stream_order" />-->
                    </Items>
                </Toolbar>
            </Toolbars>
            <Menus>
            </Menus>
        </ArcMap>
    </AddIn>
</ESRI.Configuration>